@import "tailwindcss";

:root {
  --primary: #00b050;
  --primary-dark: #009040;
  --secondary: #333333;
}

body {
  color: var(--secondary);
  background-color: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
